
/* PCスタイル */
@media screen and (min-width: 769px) {
  body {

  font-family: -apple-system, BlinkMacSystemFont, "Yu Gothic Bold", YuGothic, "Hiragino Sans", Meiryo, sans-serif;
  }
.l-wrap {
  max-width: 100%;
  overflow-x : hidden;
}
.l-wrap.is-active {
  position: fixed;
}
.l-header {
  width: 100%;
  position: fixed;
}
.l-header__menuBox {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 50px;
}
.l-header__buttonIcon {
  color: darkgreen;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  z-index: 6000;
}
.l-header__menu {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  position: relative;
  z-index: 6000;
}




/* ハンバーガーメニュー */
.l-header__nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}
.l-header__nav.is-active {
  visibility: visible;
}
.l-header__nav li {
  list-style: none;
}
.l-header__menuList {
  margin-top: 150px;
}
.l-header__menuText {
  text-decoration: none;
  color: #000000;
  font-size: 80px;
  margin-left: 200px;
  font-weight: 800;
  cursor: pointer;
}












.l-main {
  width: 100%;
  text-align: center;
}

.l-main__titleBox {
  margin-top: 60px;
}
.l-main__titleSubText {
  margin: 0 350px 0 0;
  font-size: clamp(1.25rem, 0.69rem + 1.16vw, 1.563rem);
  font-family: monospace;
  color: #191970;
}
.l-main__titleText {
  font-size: clamp(7.5rem, -1.453rem + 18.6vw, 12.5rem);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: #191970;
  margin: 0;
}
.l-main__titleText2 {
  color: #191970;
  font-size: clamp(2.188rem, 0.509rem + 3.49vw, 3.125rem);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 0px;
}
.l-main__subTitleBox {
  margin-bottom: 150px;
}
.l-main__subTitle {
  font-weight: bold;
  font-size: clamp(0.125rem, -1.442rem + 3.26vw, 1rem);
  color: #5f9ea0;
}
.iframeWrap iframe {
  aspect-ratio: 5/3;
}





.c-chillout {
  position: relative;
  max-width: 100%;
  height: 14rem;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
}
.c-marquee__anim {
  transition: all .3s;
}

.c-marquee__anim {
  opacity: 1;
  animation: marquee 45s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  margin-top: -8vh;
}

.c-marquee__inline {
  display: block;
  padding-right: 0.5em;
  font-size: 140px;
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-shadow: #191970 1px 1px 0px, #191970 -1px 1px 0px, #191970 1px -1px 0px, #191970 -1px -1px 0px;
  letter-spacing : -3px;
}
@keyframes marquee {
  0% {
    transform: translate(-40%, 0%);
  }
  100% {
    transform: translate(-60%, 0%);
  }
}


.c-chillout2 {
  position: relative;
  max-width: 100%;
  height: 14rem;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
}
.c-marquee__anim2 {
  transition: all .3s;
}

.c-marquee__anim2 {
  opacity: 1;
  animation: marquee2 45s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  margin-top: -8vh;
}

.c-marquee__inline2 {
  display: block;
  padding-right: 0.5em;
  font-size: 140px;
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-shadow: #191970 1px 1px 0px, #191970 -1px 1px 0px, #191970 1px -1px 0px, #191970 -1px -1px 0px;
  letter-spacing : -3px;
}
@keyframes marquee2 {
  100% {
    transform: translate(-40%, 0%);
  }
  0% {
    transform: translate(-60%, 0%);
  }
}

.l-main__advertisement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
}
.l-main__advertisement__content {
  width: 50%;
  margin-left: 3rem;
}
.l-main__advertisementTitle {
  font-size: clamp(2.375rem, -0.078rem + 5.1vw, 3.75rem);
  font-weight: 700;
  text-align: left;
}
.l-main__advertisementText {
  text-align: left;
  font-size: clamp(0.938rem, 0.045rem + 1.86vw, 1.438rem);
  font-weight: bold;
  line-height: 40px;
}
.l-main__advertisementImgBox {
  width: 50%;
  z-index: -1;
}
.l-main__advertisementImg {
  width: 100%;
  animation:15s linear infinite rotation1;
}
@keyframes rotation1{
  0%{ transform:rotate(0);}
  100%{ transform:rotate(360deg); }
}
.l-main__recommend {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.l-main__recommendImg {
  width: 100%;
  aspect-ratio: 10/5;
  margin-right: 20px;
}
.l-main__recommendLink {
  margin-right: 40px;
  width: 30%;
}







.slider-001 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  /* z-index: -1; */
  /* pointer-events: none; */
}
.slide-001 {
  width: 20%;
  background-color: #f0f8ff;
  margin: 2rem 2rem;
  border-radius: 20px;
}

.slide__img {
  width: 70%;
  height: auto;
  padding-top: 20px;
  margin: 40px auto;
  aspect-ratio: 3 / 4;
}
.slide__box {
  width: 100%;
}
.slide-content-text {
  margin-top: 70px;
  font-size: clamp(0.813rem, 0.032rem + 1.62vw, 1.25rem);
  font-weight: 700;
}
.slide-content-subtext {
  margin-top: 40px;
  margin-bottom: 70px;
  font-size: clamp(0.438rem, -0.455rem + 1.86vw, 0.938rem);
}
.slide-arrow {
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.prev-arrow {
  position: absolute;
  right: 65px;
  z-index: 2;
  font-size: 20px;
}
.next-arrow {
  position: absolute;
  left: 65px;
  z-index: 2;
  font-size: 20px;
}
























.c-chillout3 {
  position: relative;
  max-width: 100%;
  height: 14rem;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
  top: -50%;
}
.c-marquee__anim3 {
  transition: all .3s;
}

.c-marquee__anim3 {
  opacity: 1;
  animation: marquee 45s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  margin-top: -8vh;
}

.c-marquee__inline3 {
  display: block;
  padding-right: 0.5em;
  font-size: 140px;
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-shadow: #191970 1px 1px 0px, #191970 -1px 1px 0px, #191970 1px -1px 0px, #191970 -1px -1px 0px;
  letter-spacing : -3px;
}
@keyframes marquee {
  0% {
    transform: translate(-40%, 0%);
  }
  100% {
    transform: translate(-60%, 0%);
  }
}


.c-chillout4 {
  position: relative;
  max-width: 100%;
  height: 14rem;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
}
.c-marquee__anim4 {
  transition: all .3s;
}

.c-marquee__anim4 {
  opacity: 1;
  animation: marquee2 45s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  margin-top: -8vh;
}

.c-marquee__inline4 {
  display: block;
  padding-right: 0.5em;
  font-size: 140px;
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-shadow: #191970 1px 1px 0px, #191970 -1px 1px 0px, #191970 1px -1px 0px, #191970 -1px -1px 0px;
  letter-spacing : -3px;
}
@keyframes marquee2 {
  100% {
    transform: translate(-40%, 0%);
  }
  0% {
    transform: translate(-60%, 0%);
  }
}




.l-drink {
  width: 100%;
  position: relative;
  top: -250px;
}

.l-drink__img {
  background-size: cover;
  background-position: center center;
  aspect-ratio: 5/5;
  border-radius: 50%;
  width: 60%;
  margin: 0 auto;
  border: #000000 7px solid;
  overflow: hidden;
}
.ppp {
  width: 25%;
  margin: auto;
  padding: 20%;
}
.drink-arrow {
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 8%;
  height: 8%;
}
.prev-arrow3 {
  position: absolute;
  left: -20%;
  top: 50%;
  z-index: 2;
  font-size: clamp(0.625rem, -0.49rem + 2.32vw, 1.25rem);
  margin: auto;
}
.next-arrow3 {
  position: absolute;
  top: 50%;
  right: -20%;
  z-index: 2;
  font-size: clamp(0.625rem, -0.49rem + 2.32vw, 1.25rem);
}
.l-main__advertisementImgBox3 {
  width: 20%;
  z-index: -100;
  position: relative;
  top: -400px;
  right: -60%;
}
.l-main__advertisementImg3 {
  width: 100%;
  animation:15s linear infinite rotation1;
}
























.l-news {
  width: 100%;
  margin-bottom: 200px;
}
.l-news__content {
  font-size: clamp(11.2rem, -2.23rem + 27.91vw, 18.7rem);
  font-weight: 750;
  color: #6495ed;
  text-align: left;
  margin: 0;
  position: relative;
  top: 150px;
  left: 0px;
  z-index: -1;
}
.l-news__listBox {
  display: flex;
  /* z-index: -1; */
  padding-top: 40px;
}
.l-news__list {
  width: 15%;
  align-items: center;
  text-align: left;
  margin-right: 70px;
  margin-top: 20px;
}
.l-news__list:nth-child(even) {
  margin-top: 70px;
}
.l-news__img {
  background-size: cover;
  background-position: center center;
  padding-top: 100%;
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
.l-news__text {
  font-size: clamp(0.438rem, -0.455rem + 1.86vw, 0.938rem);
  font-weight: 700;
}


.l-news__categoryBox {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.l-news__dateBox {
  width: 50%;
  margin-right: 10%;
  position: relative;
}
.l-news__dateBox::after {
  position: absolute;
	top: 0;
	left: 100%;
	margin: 0 1rem;
	content: "";
	width: 1px;
	height: 100%;
	background-color: #333;
}
.l-news__date {
  color: #008080;
  font-size: clamp(0.063rem, -0.941rem + 2.09vw, 0.625rem);
  text-align: center;
}
.l-news__categoryContent {
  width: 50%;
}
.l-news__category {
  text-align: center;
  font-size: clamp(0.063rem, -1.499rem + 3.25vw, 0.938rem);
  margin-left: 10%;
}
.l-main__allnews {
  text-align: left;
  margin-left: 20%;
  display: flex;
  margin-top: 300px;
  height: 50px;
  align-items: baseline;
}
.l-main__allnewsLine {
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
  height: 10px;
  width: 15px;
  margin-right: 20px;
}
.l-main__allnewsText {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.slide-arrow2 {
  width: 100px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;

}
.prev-arrow2 {
  position: absolute;
  top: -3%;
  right: 24%;
  font-size: clamp(0.563rem, -0.441rem + 2.09vw, 1.125rem);
}
.next-arrow2 {
  position: absolute;
  top: -3%;
  right: 12%;
  font-size: clamp(0.563rem, -0.441rem + 2.09vw, 1.125rem);
}




















.slideBox {
  height: 900px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.item1 {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 40s 0s infinite;
  animation: anime 40s 0s infinite;
}

.item1:nth-of-type(2) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.item1:nth-of-type(3) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
.item1:nth-of-type(4) {
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}
.l-main__titleTextContent {
  z-index: 2;
}
.l-main__titleText3 {
  font-size: clamp(6.25rem, 4.02rem + 4.64vw, 7.5rem);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #191970;
  height: 40px;
  margin: 0;
  position: relative;
  top: -70px;
  left: 16%;
  z-index: -1;

}
.l-main__titleText4 {
  color: #191970;
  font-size: clamp(1.875rem, 0.202rem + 3.48vw, 2.813rem);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 130px;
  position: relative;
  top: -120px;
  left: 16%;
  z-index: -1;
}





.l-main__store {
  width: 100%;
}
.l-main__storeText {
  font-size: clamp(11.2rem, -2.23rem + 27.91vw, 18.7rem);
  font-weight: 750;
  color: #6495ed;
  text-align: left;
  margin: 0;
  position: relative;
  top: 150px;
  left: 0px;
  z-index: -1;
  line-height: 80%;
}
.l-main__storeContainer {
  padding-top: 0px;
  padding-left: 46%;
}
.l-main__storeInfo {
  font-size: clamp(1.25rem, 0.135rem + 2.32vw, 1.875rem);
  font-weight: 600;
  line-height: 190%;
  text-align: left;
}
.l-main__storeSubInfo {
  text-align: left;
  font-size: clamp(0.625rem, -0.49rem + 2.32vw, 1.25rem);
}
.l-main__storeLinkBox {
  display: flex;
  margin-top: 10%;
  padding-left: 0;
}
.l-main__storeLinkBox li {
  list-style: none;
  width: 30%;
}
.l-main__storeLink {
  text-decoration: none;
  display: flex;
  margin-right: 10%;
  align-items: center;
  text-align: left;
}
.l-main__storeName {
  color: #000000;
  font-size: clamp(0.75rem, -0.142rem + 1.86vw, 1.25rem);
  font-weight: bold;
  margin-right: 10%;
}
.arrow__box {
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 50%;
}
.arrow {
  color: #fff;
  font-size: 15px;
}
.line {
  display: none;
}
.arrow__container {
  width: 16%;

}
.arrow__box {
  position: relative;
  padding-top: 100%;
  height: 0;

}

.arrow {
  color: #fff;
  position: absolute;
  top: calc((100% - 1em)/2);
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
  font-size: 10px;


}













  .l-footer {
    width: 100%;
  }
  .l-footer__marquee {
    position: relative;
    max-width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
  }
  .l-footer__anim {
    transition: all .3s;
    z-index: -1;
  }

  .l-footer__anim {
    opacity: 1;
    animation: marquee 45s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, 0%);
    white-space: nowrap;
    margin-top: -8vh;
  }

  .l-footer__inline {
    display: block;
    padding-right: 0.5em;
    font-size: 300px;
    font-weight: 600;
    letter-spacing: 0.1em;
    white-space: nowrap;
    color: #191970;
    text-align: center;
    white-space: nowrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing : -5px;
  }
  @keyframes marquee {
    0% {
      transform: translate(-40%, 0%);
    }
    100% {
      transform: translate(-60%, 0%);
    }
  }
  .l-footer__menu {
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 200px;
  }
  .l-footer__menuItem {
    list-style: none;
    text-decoration: none;
    margin-bottom: 30px;
  }
  .l-footer__menuLink {
    text-decoration: none;
    font-size: clamp(1.563rem, -0.11rem + 3.48vw, 2.5rem);
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }

  .l-footer__about {
    display: flex;
    margin-top: 70px;
  }
  .l-footer__aboutItem {
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
  }
  .l-footer__aboutLink {
    text-decoration: none;
    color: #000000;
    font-size: 10px;
  }








  canvas{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}



















}































/* SPスタイル */
@media screen and (max-width: 768px) {
  body {
    font-family: "Noto Sans JP", sans-serif;
  }
.l-wrap {
  max-width: 100%;
  overflow-x : hidden;
}
.l-header {
  width: 100%;
  position: fixed;
}
.l-header__menuBox {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 50px;
}
.l-header__buttonIcon {
  color: darkgreen;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  z-index: 4;
}
.l-header__menu {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  position: relative;
  z-index: 4;
  }








/* ハンバーガーメニュー*/


.l-header__nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.9);
}
.l-header__nav.is-active {
  visibility: visible;
}
.l-header__nav li {
  list-style: none;
}
.l-header__menuList {
  margin-top: 150px;
}
.l-header__menuText {
  text-decoration: none;
  color: #000000;
  font-size: 50px;
  margin-left: 10%;
  margin-bottom: 100px;
  font-weight: 800;
  cursor: pointer;
}






.l-main {
  width: 100%;
  text-align: center;
}
.l-main__titleBox {
  margin-top: 200px;
}
.l-main__titleSubText {
  font-size: clamp(0.75rem, 0.273rem + 2.04vw, 1.25rem);
  font-family: monospace;
  color: #191970;
  text-align: left;
  margin-left: 20px;
}
.l-main__titleTextBox {
  margin-bottom: 50px;
}
.l-main__titleText {
  font-size: clamp(4.688rem, 0.811rem + 16.54vw, 8.75rem);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #191970;
  margin: 0;
}
.l-main__titleText2 {
  color: #191970;
  font-size: clamp(1.563rem, 0.072rem + 6.36vw, 3.125rem);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}
.l-main__subTitleBox {
  margin-top: 50px;
  margin-bottom: 130px;
}
.l-main__subTitle {
  font-weight: bold;
  font-size: clamp(0.938rem, 0.341rem + 2.54vw, 1.563rem);
  color: #5f9ea0;
}
.iframeWrap iframe {
  aspect-ratio: 5/3;
  padding-bottom: 200px;
}

.c-chillout {
  position: relative;
  max-width: 100%;
  height: 10rem;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;

}
.c-marquee__anim {
  transition: all .3s;
}

.c-marquee__anim {
  opacity: 1;
  animation: marquee 45s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  margin-top: -8vh;
}

.c-marquee__inline {
  display: block;
  padding-right: 0.5em;
  font-size: 110px;
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-shadow: #191970 1px 1px 0px, #191970 -1px 1px 0px, #191970 1px -1px 0px, #191970 -1px -1px 0px;
  letter-spacing : -3px;
}
@keyframes marquee {
  0% {
    transform: translate(-40%, 0%);
  }
  100% {
    transform: translate(-60%, 0%);
  }
}
.c-chillout2 {
  position: relative;
  max-width: 100%;
  height: 10rem;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1
}
.c-marquee__anim2 {
  transition: all .3s;
}

.c-marquee__anim2 {
  opacity: 1;
  animation: marquee2 45s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  margin-top: -8vh;
}

.c-marquee__inline2 {
  display: block;
  padding-right: 0.5em;
  font-size: 110px;
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-shadow: #191970 1px 1px 0px, #191970 -1px 1px 0px, #191970 1px -1px 0px, #191970 -1px -1px 0px;
  letter-spacing : -3px;
}
@keyframes marquee2 {
  100% {
    transform: translate(-40%, 0%);
  }
  0% {
    transform: translate(-60%, 0%);
  }
}
.l-main__advertisement {
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
}
.l-main__advertisement__content {
  width: 100%;
}
.l-main__advertisementTitle {
  font-size: clamp(2.188rem, 0.1rem + 8.91vw, 4.375rem);
  font-weight: 700;
  text-align: center;
  padding-top: 100px;
}
.l-main__advertisementText {
  text-align: center;
  font-size: clamp(0.875rem, 0.04rem + 3.56vw, 1.75rem);
  line-height: 50px;
}
.l-main__advertisementImgBox {
  display: none;
}












/* ここはSP版だけカルーセル */
.l-main__recommend {
  margin-top: 90px;
  width: 100%;
  z-index: -1;
}
.l-main__recommendLink {
  width: 100%;
}
.l-main__recommendImg {
  width: 80%;
  aspect-ratio: 7/3;
  margin: auto;
}












.slider-001 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100%;
  /* z-index: -1;ここ治すと動かなくなる */
}
.slide-001 {
  width: 40%;
  background-color: #f0f8ff;
  margin: 1rem 1rem;
  border-radius: 20px;
}
.slide__img {
  width: 80%;
  padding-top: 20px;
  margin: 20px auto;
  aspect-ratio: 4 / 5;
}
.slide-content-text {
  margin-top: 40px;
  font-size: clamp(0.938rem, 0.043rem + 3.82vw, 1.875rem);
  font-weight: 700;
}
.slide-content-subtext {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: clamp(0.75rem, 0.273rem + 2.04vw, 1.25rem);
}

.slide-arrow {
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
.prev-arrow {
  position: absolute;
  right: 12%;
  z-index: 2;
  font-size: clamp(0.938rem, 0.639rem + 1.27vw, 1.25rem);
}
.next-arrow {
  position: absolute;
  left: 12%;
  z-index: 2;
  font-size: clamp(0.938rem, 0.639rem + 1.27vw, 1.25rem);
}


























.c-chillout3 {
  position: relative;
  max-width: 100%;
  height: 10rem;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;

}
.c-marquee__anim3 {
  transition: all .3s;
}

.c-marquee__anim3 {
  opacity: 1;
  animation: marquee 45s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  margin-top: -8vh;
}

.c-marquee__inline3 {
  display: block;
  padding-right: 0.5em;
  font-size: 110px;
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-shadow: #191970 1px 1px 0px, #191970 -1px 1px 0px, #191970 1px -1px 0px, #191970 -1px -1px 0px;
  letter-spacing : -3px;
}
@keyframes marquee {
  0% {
    transform: translate(-40%, 0%);
  }
  100% {
    transform: translate(-60%, 0%);
  }
}
.c-chillout4 {
  position: relative;
  max-width: 100%;
  height: 10rem;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1
}
.c-marquee__anim4 {
  transition: all .3s;
}

.c-marquee__anim4 {
  opacity: 1;
  animation: marquee2 45s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  margin-top: -8vh;
}

.c-marquee__inline4 {
  display: block;
  padding-right: 0.5em;
  font-size: 110px;
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-shadow: #191970 1px 1px 0px, #191970 -1px 1px 0px, #191970 1px -1px 0px, #191970 -1px -1px 0px;
  letter-spacing : -3px;
}
@keyframes marquee2 {
  100% {
    transform: translate(-40%, 0%);
  }
  0% {
    transform: translate(-60%, 0%);
  }
}





.l-drink {
  width: 100%;
  position: relative;
  top: -100px;

}

.l-drink__img {
  background-size: cover;
  background-position: center center;
  aspect-ratio: 5/5;
  border-radius: 50%;
  width: 110%;
  margin: 0 auto;
  position: relative;
  right: 4%;
  overflow: hidden;
  border: #000000 7px solid;
}
.ppp {
  width: 30%;
  margin: auto;
  padding: 15%;
}
.drink-arrow {
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 10%;
  height: 10%;
}
.prev-arrow3 {
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: 2;
  font-size: clamp(0.625rem, -0.568rem + 5.09vw, 1.875rem);
  margin: auto;
}
.next-arrow3 {
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 2;
  font-size: clamp(0.625rem, -0.568rem + 5.09vw, 1.875rem);
}
.l-main__advertisementImgBox3 {
  width: 45%;
  z-index: -100;
  position: relative;
  top: -220px;
  right: -65%;
}
.l-main__advertisementImg3 {
  width: 100%;
  animation:15s linear infinite rotation1;
}
























.l-news {
  width: 100%;
  margin-bottom: 200px;
}
.l-news__content {
  font-size: clamp(6.875rem, -0.878rem + 33.08vw, 15rem);
  font-weight: 700;
  color: #6495ed;
  text-align: left;
  margin: 0;
  position: relative;
  top: 80px;
  left: 0px;
  z-index: -1;
}
.l-news__listBox {
  display: flex;
  /* z-index: -1;ここを治すと動かなくなる */
}
.l-news__list {
  width: 30%;
  align-items: center;
  text-align: left;
  margin-right: 5px;
}
.l-news__list:nth-child(even) {
  margin-top: 200px;
}
.l-news__img {
  background-size: cover;
  background-position: center center;
  padding-top: 100%;
  width: 100%;
  border-radius: 50%;
  height: 100%;
}
.l-news__text {
  font-size: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  font-weight: 700;
}


.l-news__categoryBox {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}
.l-news__dateBox {
  width: 50%;
  margin-right: 10%;
  position: relative;
}
.l-news__dateBox::after {
  position: absolute;
	top: 0;
	left: 100%;
	margin: 0 1rem;
	content: "";
	width: 1px;
	height: 100%;
	background-color: #333;
}
.l-news__date {
  color: #008080;
  font-size: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  text-align: center;
}
.l-news__categoryContent {
  width: 50%;
}
.l-news__category {
  text-align: center;
  font-size: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
  margin-left: 10%;
}
.l-main__allnews {
  text-align: left;
  margin-left: 10%;
  display: flex;
  margin-top: 70px;
  height: 50px;
  align-items: baseline;
}
.l-main__allnewsLine {
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
  height: 10px;
  width: 15px;
  margin-right: 20px;
}
.l-main__allnewsText {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 20;
  font-size: clamp(0.938rem, 0.043rem + 3.82vw, 1.875rem);
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.slide-arrow2 .next-arrow2 {
  display: none;
}



.slideBox {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.item1 {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: anime 40s 0s infinite;
  animation: anime 40s 0s infinite;
}

.item1:nth-of-type(2) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.item1:nth-of-type(3) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
.item1:nth-of-type(4) {
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}




.l-main__titleTextContent {
  z-index: 2;
}
.l-main__titleText3 {
  font-size: clamp(4.688rem, 0.215rem + 19.08vw, 9.375rem);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #191970;
  margin: 0;
  position: relative;
  top: -80px;
  left: 0px;
  z-index: -1;

}
.l-main__titleText4 {
  color: #191970;
  font-size: clamp(1.563rem, 0.072rem + 6.36vw, 3.125rem);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  top: -80px;
  left: 0px;
  z-index: -1;
}






.l-main__store {
  width: 100%;
}
.l-main__storeText {
  font-size: clamp(6.25rem, 0.286rem + 25.45vw, 12.5rem);
  font-weight: 700;
  color: #6495ed;
  text-align: left;
  margin: 0;
  position: relative;
  top: 80px;
  left: 0px;
  line-height: 1;
  z-index: -1;
}
.l-main__storeContainer {
  padding-top: 25%;
}

.l-main__storeInfo {
  width: 90%;
  font-size: clamp(1.313rem, -0.119rem + 6.11vw, 2.813rem);
  font-weight: 700;
  line-height: 2;
  margin: 20% 5% 0 5%;
  text-align: left;
}
.line2 {
  display: none;
}
.l-main__storeSubInfo {
  text-align: left;
  font-size: clamp(0.75rem, -0.025rem + 3.31vw, 1.563rem);
  margin-left: 5%;
  margin-top: 10%;
}
.l-main__storeLinkBox {
  display: flex;
  margin-top: 20%;
}
.l-main__storeLinkBox li {
  list-style: none;
  width: 30%;
}
.l-main__storeLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
}
.l-main__storeName {
  color: #000000;
  font-size: clamp(0.938rem, 0.341rem + 2.54vw, 1.563rem);
  font-weight: bold;
  margin-right: 15%;
}
.arrow__container {
  width: 25%;

}
.arrow__box {
  position: relative;
  padding-top: 100%;
  height: 0;

}
.arrow__box {
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 50%;
}

.arrow {
  font-size: 10px;
  color: #fff;
  position: absolute;
  top: calc((100% - 1em)/2);
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;


}










.l-footer {
  width: 100%;
}
.l-footer__marquee {
  position: relative;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.l-footer__anim {
  transition: all .3s;
  z-index: -1;
}

.l-footer__anim {
  opacity: 1;
  animation: marquee 45s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, 0%);
  white-space: nowrap;
  margin-top: -8vh;
}

.l-footer__inline {
  display: block;
  padding-right: 0.5em;
  font-size: 150px;
  font-weight: 600;
  letter-spacing: 0.1em;
  white-space: nowrap;
  color: #191970;
  text-align: center;
  white-space: nowrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing : -5px;
}
@keyframes marquee {
  0% {
    transform: translate(-40%, 0%);
  }
  100% {
    transform: translate(-60%, 0%);
  }
}



.l-footer__menu {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 150px;
}
.l-footer__menuList {
  text-align: center;
  display: contents;
}
.l-footer__menuItem {
  list-style: none;
  text-decoration: none;
  margin-bottom: 30px;
}
.l-footer__menuLink {
  text-decoration: none;
  font-size: clamp(1.875rem, 0.086rem + 7.63vw, 3.75rem);
  color: #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}



.l-footer__about {
  margin-top: 70px;
  text-align: center;
}
.l-footer__aboutItem {
  list-style: none;
  text-decoration: none;
  margin-right: 30px;
}
.l-footer__aboutLink {
  text-decoration: none;
  color: #000000;
  font-size: clamp(0.625rem, 0.029rem + 2.54vw, 1.25rem);
}


canvas{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}




}